set default=0
set timeout=60

insmod all_video

menuentry "KorOS Live" {
    linux /casper/vmlinuz boot=casper hostname=koros ---
    initrd /casper/initrd
}

menuentry "KorOS Live (Safe Graphics)" {
    linux /casper/vmlinuz boot=casper hostname=koros nomodeset ---
    initrd /casper/initrd
}

menuentry "Reboot" {
    reboot
}

menuentry "Shutdown" {
    halt
}
